<header class="header bg-white">
  <div class="container px-lg-3">
    <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">
      <a class="navbar-brand" href="{{  }}"
        ><span class="fw-bold text-uppercase text-dark">{{ section.settings.header_text }}</span></a
      >
      <button
        class="navbar-toggler navbar-toggler-end"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          {%- for link in linklists['boutique-header'].links -%}
            {%- if link.levels > 0 -%}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  id="pagesDropdown"
                  href="#"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{- link.title -}}
                </a>
                <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown">
                  {%- for childlink in link.links -%}
                    <a class="dropdown-item border-0 transition-link" href="{{ childlink.url }}">
                      {{- childlink.title -}}
                    </a>
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <!-- Link -->
                {% if request.path == link.url %}
                  <a class="nav-link active" href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                  <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/cart">
              <i class="fas fa-dolly-flatbed me-1 text-gray"></i>Cart<small class="text-gray fw-normal"
                >({{ cart.items.size }})</small
              ></a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#!">
              <i class="far fa-heart me-1"></i><small class="text-gray fw-normal"> (0)</small></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://shopify.com/70169952503/account">
              <i class="fas fa-user me-1 text-gray fw-normal"></i>Login</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

{% schema %}
{
  "name": "Boutique Header",
  "settings": [
    {
      "type": "text",
      "id": "header_text",
      "label": "Header Text",
      "default": "Boutique"
    }
  ]
}
{% endschema %}
