<footer class="bg-dark text-white">
  <div class="container py-4">
    <div class="row py-5">
      {% for block in section.blocks %}
        <div class="col-md-4 mb-3 mb-md-0">
          <h6 class="text-uppercase mb-3">{{ block.settings.footer_header }}</h6>
          <ul class="list-unstyled mb-0">
            <li>
              <a class="footer-link" href="{{ block.settings.link1.url }}">{{ block.settings.link1.title }}</a>
            </li>
            <li>
              <a class="footer-link" href="{{ block.settings.link2.url }}">{{ block.settings.link2.title }}</a>
            </li>
            <li>
              <a class="footer-link" href="{{ block.settings.link3.url }}">{{ block.settings.link3.title }}</a>
            </li>
            <li>
              <a class="footer-link" href="{{ block.settings.link4.url }}">{{ block.settings.link4.title }}</a>
            </li>
          </ul>
        </div>
      {% endfor %}
    </div>
    <div class="border-top pt-4" style="border-color: #1d1d1d !important">
      <div class="row">
        <div class="col-md-6 text-center text-md-start">
          <p class="small text-muted mb-0">{{ section.settings.footer_text }}</p>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <p class="small text-muted mb-0">
            Template designed by
            <a class="text-white reset-anchor" href="https://bootstrapious.com/p/boutique-bootstrap-e-commerce-template"
              >Bootstrapious</a
            >
          </p>
          <!--
            If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!
          -->
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Boutique Footer",
  "settings": [
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer Text"
    }
  ],
  "blocks": [
    {
       "name": "Link Block",
       "type": "link_block",
       "settings": [
         {
           "type": "text",
           "id": "footer_header",
           "label": "Footer Header"
         },
         {
           "type": "page",
           "id": "link1",
           "label": "Link 1"
         },
         {
           "type": "page",
           "id": "link2",
           "label": "Link 2"
         },
         {
           "type": "page",
           "id": "link3",
           "label": "Link 3"
         },
         {
           "type": "page",
           "id": "link4",
           "label": "Link 4"
         }
       ]
    }
  ]
}
{% endschema %}
