{% assign block_count = 0 %}
{% for block in section.blocks %}
  {% if block.type == 'show_only' %}
    {% assign block_count = block_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% paginate collection.products by section.settings.pagination_number %}
  <div class="container">
    <section class="py-5">
      <div class="container p-0">
        <div class="row">
          <!-- SHOP SIDEBAR -->
          <div class="col-lg-3 order-2 order-lg-1">
            <h5 class="text-uppercase mb-4">Categories</h5>
            {% for block in section.blocks %}
              {% if block.type == 'category' %}
                {% if forloop.index0 == 0 %}
                  <div class="py-2 px-4 bg-dark text-white mb-3">
                    <strong class="small text-uppercase fw-bold">{{ block.settings.category_title }}</strong>
                  </div>
                {% else %}
                  <div class="py-2 px-4 bg-light mb-3">
                    <strong class="small text-uppercase fw-bold">{{ block.settings.category_title }}</strong>
                  </div>
                {% endif %}

                <ul class="list-unstyled small text-muted ps-lg-4 font-weight-normal">
                  <li class="mb-2">
                    <a class="reset-anchor" href="{{ block.settings.collection_name1.url }}">
                      {{- block.settings.collection_name1.title -}}
                    </a>
                  </li>
                  <li class="mb-2">
                    <a class="reset-anchor" href="{{ block.settings.collection_name2.url }}">
                      {{- block.settings.collection_name2.title -}}
                    </a>
                  </li>
                  <li class="mb-2">
                    <a class="reset-anchor" href="{{ block.settings.collection_name3.url }}">
                      {{- block.settings.collection_name3.title -}}
                    </a>
                  </li>
                  <li class="mb-2">
                    <a class="reset-anchor" href="{{ block.settings.collection_name4.url }}">
                      {{- block.settings.collection_name4.title -}}
                    </a>
                  </li>
                  <li class="mb-2">
                    <a class="reset-anchor" href="{{ block.settings.collection_name5.url }}">
                      {{- block.settings.collection_name5.title -}}
                    </a>
                  </li>
                  <li class="mb-2">
                    <a class="reset-anchor" href="{{ block.settings.collection_name6.url }}">
                      {{- block.settings.collection_name6.title -}}
                    </a>
                  </li>
                </ul>
              {% endif %}
            {% endfor %}

            <!-- Price Range -->
            <h6 class="text-uppercase mb-4">Price range</h6>
            <div class="price-range pt-4 mb-5">
              <div id="range"></div>
              <div class="row pt-2">
                <div class="col-6"><strong class="small fw-bold text-uppercase">From</strong></div>
                <div class="col-6 text-end"><strong class="small fw-bold text-uppercase">To</strong></div>
              </div>
            </div>

            <!-- Show Only -->
            <h6 class="text-uppercase mb-3">Show only</h6>
            {% assign loop_index = 1 %}
            {% for block in section.blocks %}
              {% if block.type == 'show_only' %}
                {% if loop_index < block_count %}
                  <div class="form-check mb-1">
                    <input class="form-check-input" type="checkbox" id="checkbox_{{ loop_index }}">
                    <label class="form-check-label" for="checkbox_{{ loop_index }}">
                      {{- block.settings.checkbox -}}
                    </label>
                  </div>
                {% else %}
                  <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" id="checkbox_{{ loop_index }}">
                    <label class="form-check-label" for="checkbox_{{ loop_index }}">
                      {{- block.settings.checkbox -}}
                    </label>
                  </div>
                {% endif %}
                {% assign loop_index = loop_index | plus: 1 %}
              {% endif %}
            {% endfor %}

            <!-- Buying Format -->
            <h6 class="text-uppercase mb-3">Buying format</h6>
            {% for block in section.blocks %}
              {% if block.type == 'buying_format' %}
                <div class="form-check mb-1">
                  <input class="form-check-input" type="radio" name="customRadio" id="radio_{{ forloop.index }}">
                  <label class="form-check-label" for="radio_{{ forloop.index }}">{{ block.settings.radio }}</label>
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <!-- SHOP LISTING -->
          <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
            <div class="row mb-3 align-items-center">
              <div class="col-lg-6 mb-2 mb-lg-0">
                {% if collection.products.size == 0 %}
                  <p class="text-sm text-muted mb-0">Showing 0 of 0 results</p>
                {% else %}
                  {% assign beginning = paginate.current_offset | plus: 1 %}
                  {% assign ending = beginning | plus: collection.products.size | minus: 1 %}
                  <p class="text-sm text-muted mb-0">
                    Showing {{ beginning }}–{{ ending }} of {{ collection.products_count }} results
                  </p>
                {% endif %}
              </div>
              <div class="col-lg-6">
                <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
                  <li class="list-inline-item text-muted me-3">
                    <a id="two_col" class="reset-anchor p-0" style="cursor: pointer;"
                      ><i class="fas fa-th-large"></i
                    ></a>
                  </li>
                  <li class="list-inline-item text-muted me-3">
                    <a id="three_col" class="reset-anchor p-0" style="cursor: pointer;"><i class="fas fa-th"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <select
                      name="sorting"
                      class="selectpicker"
                      id="sort_by"
                      data-customclass="form-control form-control-sm"
                    >
                      {% for option in collection.sort_options %}
                        <option
                          value="{{ option.value }}"
                          {% if option.value == collection.sort_by %}
                            selected
                          {% endif %}
                        >
                          {{ option.name }}
                        </option>
                      {% endfor %}
                    </select>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Products -->
            <div class="row">
              {% for product in collection.products limit: paginate.page_size %}
                <!-- Modal -->
                <div class="modal fade" id="productView" tabindex="-1">
                  <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content overflow-hidden border-0">
                      <button
                        class="btn-close p-4 position-absolute top-0 end-0 z-index-20 shadow-0"
                        type="button"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                      <div class="modal-body p-0">
                        <div class="row align-items-stretch">
                          <div class="col-lg-6 p-lg-0">
                            <a
                              class="glightbox product-view d-block h-100 bg-cover bg-center"
                              style="background: url({{ product.featured_image | image_url }})"
                              href="{{ product.featured_image | image_url }}"
                              data-gallery="gallery1"
                              data-glightbox="{{ product.title }}"
                            ></a>
                          </div>
                          <div class="col-lg-6">
                            <div class="p-4 my-md-4">
                              <ul class="list-inline mb-2">
                                <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                                <li class="list-inline-item m-0 1"><i class="fas fa-star small text-warning"></i></li>
                                <li class="list-inline-item m-0 2"><i class="fas fa-star small text-warning"></i></li>
                                <li class="list-inline-item m-0 3"><i class="fas fa-star small text-warning"></i></li>
                                <li class="list-inline-item m-0 4"><i class="fas fa-star small text-warning"></i></li>
                              </ul>
                              <h2 class="h4">{{ product.title }}</h2>
                              <p class="text-muted">{{ product.price | money }}</p>
                              <p class="text-sm mb-4">
                                {{ product.content }}
                              </p>
                              <div class="row align-items-stretch mb-4 gx-0">
                                {% form 'product', product, id: 'addForm' %}
                                  <input
                                    type="hidden"
                                    name="id"
                                    id="productSelect"
                                    value="{{ product.variants.first.id }}"
                                  >
                                  <div class="col-sm-7">
                                    <div class="border d-flex align-items-center justify-content-between py-1 px-3">
                                      <span class="small text-uppercase text-gray mr-4 no-select">Quantity</span>
                                      <div class="quantity">
                                        <button class="dec-btn p-0"><i class="fas fa-caret-left"></i></button>
                                        <input
                                          class="form-control border-0 shadow-0 p-0"
                                          type="text"
                                          name="quantity"
                                          id="Quantity"
                                          value="1"
                                          min="1"
                                        >
                                        <button class="inc-btn p-0"><i class="fas fa-caret-right"></i></button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-5">
                                    <button
                                      type="submit"
                                      name="add"
                                      id="addToCart"
                                      class="btn btn-dark btn-sm btn-block w-100 h-100"
                                    >
                                      Add To Cart
                                    </button>
                                  </div>
                                {% endform %}
                              </div>
                              <a class="btn btn-link text-dark text-decoration-none p-0" href="#!">
                                <i class="far fa-heart me-2"></i>Add to wish list</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Product Display -->
                <div id="target_col" class="col-lg-4 col-sm-6">
                  <div class="product text-center">
                    <div class="mb-3 position-relative">
                      <div class="badge text-white bg-"></div>
                      <a class="d-block" href="{{ product.url }}"
                        ><img class="img-fluid w-100" src="{{ product.featured_image | image_url }}" alt="..."
                      ></a>
                      <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                          <li class="list-inline-item m-0 p-0">
                            <a class="btn btn-sm btn-outline-dark" href="#!"><i class="far fa-heart"></i></a>
                          </li>
                          <li class="list-inline-item m-0 p-0">
                            <a class="btn btn-sm btn-dark" href="/cart/add/{{ product.variants.first.id }}"
                              >Add to cart</a
                            >
                          </li>
                          <li class="list-inline-item mr-0">
                            <a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"
                              ><i class="fas fa-expand"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <h6>
                      <a class="reset-anchor" href="detail.html">{{ product.title }}</a>
                    </h6>
                    <p class="small text-muted">{{ product.price | money }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>

            <!-- PAGINATION -->
            {% if paginate.pages > 1 %}
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center justify-content-lg-end">
                  <li class="page-item mx-1">
                    <a class="page-link" href="{{ paginate.previous.url }}" aria-label="Previous"
                      ><span aria-hidden="true">«</span></a
                    >
                  </li>

                  {% for part in paginate.parts %}
                    {% if part.is_link %}
                      <li class="page-item mx-1">
                        <a class="page-link" href="{{ part.url }}">{{ part.title }}</a>
                      </li>
                    {% else %}
                      <li class="page-item mx-1 active">
                        <a class="page-link" href="{{ part.url }}">{{ part.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}

                  <li class="page-item ms-1">
                    <a class="page-link" href="{{ paginate.next.url }}" aria-label="Next"
                      ><span aria-hidden="true">»</span></a
                    >
                  </li>
                </ul>
              </nav>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </div>
{% endpaginate %}

{% schema %}
{
  "name": "Single Collection",
  "settings": [
    {
      "type": "range",
      "id": "pagination_number",
      "label": "Pagination Number",
      "default": 4,
      "min": 2,
      "max": 6
    }
  ],
  "blocks": [
    {
      "name": "Category",
      "type": "category",
      "settings": [
        {
          "type": "text",
          "id": "category_title",
          "label": "Category Title"
        },
        {
          "type": "collection",
          "id": "collection_name1",
          "label": "Collection Name 1"
        },
        {
          "type": "collection",
          "id": "collection_name2",
          "label": "Collection Name 2"
        },
        {
          "type": "collection",
          "id": "collection_name3",
          "label": "Collection Name 3"
        },
        {
          "type": "collection",
          "id": "collection_name4",
          "label": "Collection Name 4"
        },
        {
          "type": "collection",
          "id": "collection_name5",
          "label": "Collection Name 5"
        },
        {
          "type": "collection",
          "id": "collection_name6",
          "label": "Collection Name 6"
        }
      ]
    },
    {
      "name": "Show Only Block",
      "type": "show_only",
      "settings": [
        {
          "type": "text",
          "id": "checkbox",
          "label": "Checkbox"
        }
      ]
    },
    {
      "name": "Buying Format",
      "type": "buying_format",
      "settings": [
        {
          "type": "text",
          "id": "radio",
          "label": "Radio"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Single Collection"
    }
  ]
}
{% endschema %}
